
<div class="text-center" data-gr-c-s-loaded="true">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
    <img class="mb-4" src="" alt="" width="72" height="72">
    <h2 class="h2 mb-3 font-weight-bold">Fazer login</h2>
    
    <label for="email" class="sr-only">E-mail</label>
    <input type="email" id="email" class="form-control" placeholder="E-mail" name="email" required [(ngModel)]="model.email">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Senha" name="password" required [(ngModel)]="model.password">
  
    <button [disabled]="!loginForm.valid" class="btn btn-lg btn-success" type="submit">Entrar</button>

    <p class="mt-5 mb-3"><label>Não tem login? Cadastre-se abaixo</label></p>
    <button class="btn btn-lg btn-default" style="margin-bottom: 0%;" (click)="router.navigate(['/user/registration'])">Quero me cadastrar</button>
  </form>  

</div>