<app-nav></app-nav>
<div class="BlocoPrincipal">
  <router-outlet></router-outlet>
</div>

<div id="footer" class="footer-bar">
  <div class="content container" style="background-color: black; color:rgba(255,255,255,0.75);">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a style="cursor:pointer" href="https://sensocriticocomum.com.br/"> SensoCriticoComum.com.br</a>
    </div>
      <div>
        <a class="ins-ic">
          <i class="fab fa-instagram fa-lg white-text mr-md-4 mr-1 fa-2x"></i>
        </a>
        <a class="pin-ic">
          <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
        </a>
      </div>
  </div>

</div>